<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ExerciseServletCreate</display-name>
    <servlet-name>ExerciseServletCreate</servlet-name>
    <servlet-class>exercise.web.servlet.ExerciseServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExerciseServletCreate</servlet-name>
    <url-pattern>/ExerciseServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ExerciseServletRead</display-name>
    <servlet-name>ExerciseServletRead</servlet-name>
    <servlet-class>exercise.web.servlet.ExerciseServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExerciseServletRead</servlet-name>
    <url-pattern>/ExerciseServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>ExerciseServletUpdate</display-name>
    <servlet-name>ExerciseServletUpdate</servlet-name>
    <servlet-class>exercise.web.servlet.ExerciseServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExerciseServletUpdate</servlet-name>
    <url-pattern>/ExerciseServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>ExerciseServletDelete</display-name>
    <servlet-name>ExerciseServletDelete</servlet-name>
    <servlet-class>exercise.web.servlet.ExerciseServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExerciseServletDelete</servlet-name>
    <url-pattern>/ExerciseServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Exercise_injuryServletCreate</display-name>
    <servlet-name>Exercise_injuryServletCreate</servlet-name>
    <servlet-class>exercise_injury.web.servlet.Exercise_injuryServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercise_injuryServletCreate</servlet-name>
    <url-pattern>/Exercise_injuryServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Exercise_injuryServletRead</display-name>
    <servlet-name>Exercise_injuryServletRead</servlet-name>
    <servlet-class>exercise_injury.web.servlet.Exercise_injuryServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercise_injuryServletRead</servlet-name>
    <url-pattern>/Exercise_injuryServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Exercise_injuryServletUpdate</display-name>
    <servlet-name>Exercise_injuryServletUpdate</servlet-name>
    <servlet-class>exercise_injury.web.servlet.Exercise_injuryServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercise_injuryServletUpdate</servlet-name>
    <url-pattern>/Exercise_injuryServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Exercise_injuryServletDelete</display-name>
    <servlet-name>Exercise_injuryServletDelete</servlet-name>
    <servlet-class>exercise_injury.web.servlet.Exercise_injuryServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercise_injuryServletDelete</servlet-name>
    <url-pattern>/Exercise_injuryServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BenefitServletCreate</display-name>
    <servlet-name>BenefitServletCreate</servlet-name>
    <servlet-class>benefit.web.servlet.BenefitServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenefitServletCreate</servlet-name>
    <url-pattern>/BenefitServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BenefitServletRead</display-name>
    <servlet-name>BenefitServletRead</servlet-name>
    <servlet-class>benefit.web.servlet.BenefitServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenefitServletRead</servlet-name>
    <url-pattern>/BenefitServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>BenefitServletUpdate</display-name>
    <servlet-name>BenefitServletUpdate</servlet-name>
    <servlet-class>benefit.web.servlet.BenefitServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenefitServletUpdate</servlet-name>
    <url-pattern>/BenefitServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>BenefitServletDelete</display-name>
    <servlet-name>BenefitServletDelete</servlet-name>
    <servlet-class>benefit.web.servlet.BenefitServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenefitServletDelete</servlet-name>
    <url-pattern>/BenefitServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>init.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>findSeverityGreaterThanThree</display-name>
    <servlet-name>findSeverityGreaterThanThree</servlet-name>
    
    <servlet-class>user.web.servlet.findSeverityGreaterThanThree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findSeverityGreaterThanThree</servlet-name>
    <url-pattern>/findSeverityGreaterThanThree</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
